<footer class="footer container">
  <div class="footer__logo-wrapper">
    <a href="./index.html">
      <img
        class="footer__logo"
        width="65"
        height="52"
        srcset="
          /img/additionalPage/logo.png    1x,
          /img/additionalPage/logo-2x.png 2x
        "
        src="/img/additionalPage/logo.png"
        alt="sugar swap mania logo"
      />
    </a>
  </div>
  <div class="footer__links">
    <p class="footer__links-rights">
      All rights reserved sugarblast.site / 2025
    </p>
    <div class="footer__links-list">
      <a class="link" href="./terms.html">Terms and Conditions</a>
      <div class="wrapper">
        <a class="link" href="./policy.html">Privacy Policy</a>
        <a class="link" href="./coockies.html">Cookies Policy</a>
      </div>
    </div>
  </div>
</footer>
