<header class="header container">
  <a class="link" href="/index.html">
    <svg class="arrow-left" height="24" width="24">
      <use href="/img/sprite.svg#arrow-left"></use>
    </svg>
    Go Back Home
  </a>
  <a href="===">
    <img
      class="logo"
      width="45"
      height="36"
      srcset="
        /img/additionalPage/logo.png    1x,
        /img/additionalPage/logo-2x.png 2x
      "
      src="/img/additionalPage/logo.png"
      alt="sugar swap mania logo"
    />
  </a>
</header>
