.additional {
  .header {
    @include flex-center;
    justify-content: space-between;
    background-color: $_pink;
    @include laptop {
      padding-inline: 200px;
      justify-content: start;
    }

    .logo {
      width: 45px;
      height: 36px;
      @include laptop {
        width: 65px;
        height: 52px;
      }
    }
    .arrow-left {
      stroke: $_white;
    }
    .link {
      @include flex-center;
      gap: 4px;
      color: $_white;
      @include hover {
        text-decoration: underline;
      }
      @include laptop {
        margin-right: 235px;
      }
    }
  }
}
