<section class="features" id="features" aria-label="Features">
    <div class="container">
        <div class="section-header-box">
            <p class="accent-text">About</p>
            <h2 class="section-header">Key Features</h2>
            <p class="text">
                Enjoy exciting candy-matching gameplay with 
                colorful levels, powerful boosters, and daily 
                rewards. Tackle fun challenges, unlock new 
                features, and strategize your moves for endless 
                fun. Play at your own pace with no limits!
            </p>
        </div>

        <div class="candy-wrapper">
            <div class="img-box">
                <img class="image" srcset="/img/about/phone_2x.png" src="/img/about/phone.png" alt="Sugar Swap on Device">
            </div>

            <ul class="candy-list">
                <li class="candy-element">
                    <h3 class="candy-header">Match & Blast</h3>
                    <p class="candy-text">
                        Swap candies to create 
                        powerful combos and 
                        clear the board
                    </p>
                </li>
                <li class="candy-element">
                    <h3 class="candy-header">Exciting Boosters</h3>
                    <p class="candy-text">
                        Use the Lollipop Hammer 
                        and Sugar Rush to overcome 
                        tough levels
                    </p>
                </li>
                <li class="candy-element">
                    <h3 class="candy-header">Candy World Exploration</h3>
                    <p class="candy-text">
                        Unlock new candy-themed 
                        locations as you progress
                    </p>
                </li>
                <li class="candy-element">
                    <h3 class="candy-header">Daily Rewards</h3>
                    <p class="candy-text">
                        Log in every day to 
                        claim sweet bonuses and power-ups
                    </p>
                </li>
                <li class="candy-element">
                    <h3 class="candy-header">Competitive Leaderboards</h3>
                    <p class="candy-text">
                        Challenge friends and players 
                        worldwide to climb the ranks!
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>