<section class="achievements container">
  <div class="achievements-wrapper">
    <span class="achievements-key key">player achievements</span>
    <h2 class="achievements-title">top scores</h2>
    <p class="achievements-text">
      Meet the top players of Sugar Swap Mania! These candy-matching pros have
      mastered the toughest levels, unlocked the rarest boosters, and set
      record-breaking scores. Will you be the next to join the Hall of Fame?
    </p>
  </div>

  <ul class="scores__list">
    <li class="scores__item">
      <div class="scores__wrapper">
        <span class="scores__place">01</span>
        <img
          width="120"
          height="120"
          class="scores__photo"
          srcset="
            /img/achievements/emma.png    1x,
            /img/achievements/emma-2x.png 2x
          "
          src="/img/achievements/emma.png"
          alt="winner Emma"
        />
        <div class="scores__winner">
          <h3 class="scores__name">emma</h3>
          <span scores__value>18644</span>
        </div>
      </div>
    </li>
    <li class="scores__item">
      <div class="scores__wrapper">
        <span class="scores__place">02</span>
        <img
          width="120"
          height="120"
          class="scores__photo"
          srcset="
            /img/achievements/john.png    1x,
            /img/achievements/john-2x.png 2x
          "
          src="/img/achievements/john.png"
          alt="winner John"
        />
        <div class="scores__winner">
          <h3 class="scores__name">John</h3>
          <span scores__value>15002</span>
        </div>
      </div>
    </li>
    <li class="scores__item">
      <div class="scores__wrapper">
        <span class="scores__place">03</span>
        <img
          width="120"
          height="120"
          class="scores__photo"
          srcset="
            /img/achievements/claire.png    1x,
            /img/achievements/claire-2x.png 2x
          "
          src="/img/achievements/claire.png"
          alt="winner Claire"
        />
        <div class="scores__winner">
          <h3 class="scores__name">Claire</h3>
          <span scores__value>14923</span>
        </div>
      </div>
    </li>
  </ul>
</section>
