<section class="cookie visually-hidden" id="cookie-modal">
  <div class="cookie-backdrop">
    <ul class="cookie-list container">
      <li class="cookie-item">
        <img
          class="cookie-image"
          width="140"
          height="120"
          srcset="/img/cookie/cookie.png 1x, /img/cookie/cookie-2x.png 2x"
          src="/img/cookie/cookie.png"
          alt=""
        />
      </li>
      <li class="cookie-item">
        <span class="cookie-key key">cookies</span>
        <h2 class="cookie-title">Cookies</h2>
        <div class="cookie-wrapper">
          <p class="cookie-text">
            We use cookies to improve your experience on our website. By
            browsing this website, you agree to our use of cookies
          </p>
        </div>
        <div id="cookie-buttons" class="cookie-buttons">
          <button class="cookie-button button-black" data-cookie="yes">
            accept cookies
          </button>
          <button class="cookie-button button-black" data-cookie="no">
            decline cookies
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
