<section class="developers container">
  <ul class="developers-list">
    <li class="developers-item">
      <img
        class="developers-image"
        width="164"
        height="240"
        srcset="
          /img/developers/girlSmile.png    1x,
          /img/developers/girlSmile-2x.png 2x
        "
        src="/img/developers/girlSmile.png"
        alt="The sweet girl smiles"
      />
    </li>
    <li class="developers-item">
      <span class="developers-key key">developers</span>
      <h2 class="developers-title">developer’s corner</h2>
      <div class="developers__wrapper">
        <p class="developers-text">
          Meet the team behind Sugar Swap Mania! Our developers are passionate
          about creating engaging match-3 experiences. Learn about the
          inspiration behind the game, fun development facts, and upcoming
          updates.
        </p>
      </div>
    </li>
  </ul>
</section>
