<header class="header container">
  <div class="content">
    <div class="icon-box">
      <a href="#hero">
        <img
          class="favicon"
          width="45"
          height="36"
          srcset="
            /img/additionalPage/logo.png    1x,
            /img/additionalPage/logo-2x.png 2x
          "
          src="/img/additionalPage/logo.png"
          alt="sugar swap mania logo"
        />
      </a>
    </div>

    <button class="burger-icon" aria-label="open menu" title="open menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div id="overlay" class="navigation">
      <nav id="nav" class="box-navigation">
        <ul class="list-navigation">
          <li class="element-navigation">
            <a class="link-navigation" href="#overview">Overview</a>
          </li>
          <li class="element-navigation">
            <a class="link-navigation" href="#features">Features</a>
          </li>
          <li class="element-navigation">
            <a class="link-navigation" href="#play">How to Play</a>
          </li>
          <li class="element-navigation">
            <a class="link-navigation" href="#world">Candy World</a>
          </li>
          <li class="element-navigation">
            <a class="link-navigation" href="#achievements">Achievements</a>
          </li>
          <li class="element-navigation">
            <a class="link-navigation" href="#events">Events</a>
          </li>
          <li class="element-navigation">
            <a class="link-navigation" href="#developers">Developers</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
