<section id="header" class="header container">
  <a class="header__link" href="#hero">
    <img
      width="45"
      height="36"
      class="header__logo"
      srcset="
        /img/additionalPage/logo.png    1x,
        /img/additionalPage/logo-2x.png 2x
      "
      src="/img/additionalPage/logo.png"
      alt="game logo"
    />
  </a>
  <button id="burger" class="header__burger-button burger-button">
    <span class="burger-button-line"></span>
    <span class="burger-button-line"></span>
    <span class="burger-button-line"></span>
  </button>
  <nav id="overlay" class="header__nav">
    <ul class="header__list">
      <li class="header__item">
        <a href="#overview" class="header__link">Overview</a>
      </li>
      <li class="header__item">
        <a href="#features" class="header__link">Features</a>
      </li>
      <li class="header__item">
        <a href="#play" class="header__link">How to Play</a>
      </li>
      <li class="header__item">
        <a href="#world" class="header__link">Candy World</a>
      </li>
      <li class="header__item">
        <a href="#achievements" class="header__link">Achievements</a>
      </li>
      <li class="header__item">
        <a href="#events" class="header__link">Events</a>
      </li>
      <li class="header__item">
        <a href="#developers" class="header__link">Developers</a>
      </li>
    </ul>
  </nav>
</section>
