<header class="header">
    <div class="content">
      <div class="icon-box">
        <a href="./"><img class="favicon" src="/public/favicon.png" alt=""></a>
      </div>

      <div class="burger-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>

        <nav class="navigation">
          <ul class="list-navigation">
            <li class="element-navigation"><a class="link-navigation" href="">Overview</a></li>
            <li class="element-navigation"><a class="link-navigation" href="">Features</a></li>
            <li class="element-navigation"><a class="link-navigation" href="">How to Play</a></li>
            <li class="element-navigation"><a class="link-navigation" href="">Candy World</a></li>
            <li class="element-navigation"><a class="link-navigation" href="">Achievements</a></li>
            <li class="element-navigation"><a class="link-navigation" href="">Events</a></li>
            <li class="element-navigation"><a class="link-navigation" href="">Developers</a></li>
          </ul>
        </nav>
    
    </div>
</header>
