<section id="hero" class="hero container">
  <div class="wrapper">
    <div class="content">
      <h1 class="main-header">Play, Improve & Win</h1>
      <p class="main-text">Experience the ultimate candy-matching adventure!</p>

      <div class="box-text-number">
        <div class="text-number">
          <p class="text">Downloads</p>
          <p class="number">4,942,07</p>
        </div>

        <div class="text-number">
          <p class="text">Now playing</p>
          <p class="number">874,125</p>
        </div>
      </div>
    </div>
  </div>
</section>
