<section class="overview">
    <div class="box">
        <div class="image-side"></div>
        <div class="box-header">
            <span class="text-under-header">Game overview</span>
            <h2 class="section-header">Welcome to Sugar Swap Mania</h2>
            <p class="section-text">
                The ultimate candy-matching experience! 
                Swap and match delicious sweets to clear levels 
                and unlock powerful boosters. From sugary challenges 
                to daily rewards, immerse yourself in a vibrant world 
                of fun and strategy. Play at your own pace and enjoy 
                endless candy-crushing excitement!
            </p>
        </div>
  </section>