<section id="play" class="play container">
  <div class="play__header">
    <span class="play__header-key key">How to play</span>
    <h2 class="play__header-title">Different ways to play</h2>
    <p class="play__header-text">
      Simply swap and match three or more candies of the same type to clear
      levels. Use boosters to help with tricky challenges, and aim for high
      scores. Complete each level by meeting objectives and enjoy daily rewards
      to boost your progress. Play at your own pace!
    </p>
  </div>

  <ul class="play__list">
    <li class="play__item">
      <ul class="details__list">
        <li class="details__item">
          <details class="details-body">
            <summary class="summary">Swap & Match</summary>
            <p class="summary-text">
              Drag to swap candies and match three or more of the same kind.
            </p>
          </details>
        </li>
        <li class="details__item">
          <details class="details-body">
            <summary class="summary">Create Special Combos</summary>
            <p class="summary-text">
              Combine power-ups for massive explosions!
            </p>
          </details>
        </li>
        <li class="details__item">
          <details class="details-body">
            <summary class="summary">Complete Level Goals</summary>
            <p class="summary-text">
              Finish each stage by achieving specific objectives.
            </p>
          </details>
        </li>
        <li class="details__item">
          <details class="details-body">
            <summary class="summary">Use Boosters Wisely</summary>
            <p class="summary-text">
              Strategically deploy boosters to tackle tricky puzzles.
            </p>
          </details>
        </li>
        <li class="details__item">
          <details class="details-body">
            <summary class="summary">Unlock New Challenges</summary>
            <p class="summary-text">
              Progress through levels to discover exciting new mechanics!
            </p>
          </details>
        </li>
      </ul>
    </li>
    <li class="play__item">
      <picture class="image-switcher">
        <source
          media="(min-width: 1200px)"
          srcset="/img/play/happyGirl.png 1x, /img/play/happyGirl-2x.png 2x"
        />
        <source
          media="(min-width: 320px)"
          srcset="/img/play/happyBoy.png 1x, /img/play/happyBoy-2x.png 2x"
        />
        <img
          src="/img/play/happyBoy.png"
          alt="boy & dog"
          width="108"
          height="160"
        />
      </picture>
    </li>
  </ul>
</section>
