.footer.container {
  padding-inline: 0;
}
.footer {
  &__logo {
    width: 65px;
    height: 52px;
    &-wrapper {
      width: 100%;
      height: 92px;
      @include flex-center;
      background-color: $_pink;
    }
  }
  &__links {
    @include flex-center(column-reverse);
    gap: 24px;
    padding-block: 40px;
    padding-inline: 20px;
    @include laptop {
      padding-inline: 160px;
      flex-direction: row;
      justify-content: space-between;
    }

    &-rights {
      @include laptop {
        white-space: nowrap;
      }
    }

    &-list {
      width: 100%;
      @include flex-center(column);
      gap: 20px;
      padding-inline: 20px;

      @include laptop {
        flex-direction: row;
        justify-content: end;
      }

      .wrapper {
        width: 100%;
        @include flex-center;
        justify-content: space-between;
        @include laptop {
          display: contents;
        }
      }
      .link {
        @include hover {
          text-decoration: underline;
        }
      }
    }
  }
}
