.overview{
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    
    @include laptop{
        max-width: 1200px;
        padding-left: 139.5px;
        padding-right: 139.5px;
        background-image: url(/img/overview/boy-1x.png);
        background-size: 275px 408px;
        background-repeat: no-repeat;
        background-position: left center;

        .box-header{
            padding-left: 400px;
        }
        
    }

    .box-header{
        @include flex-center(column);
        gap: 24px;

        @include laptop{
            align-items: flex-start;
            padding-top: 37px;
            padding-bottom: 37px;
        }

        .text-under-header{
            display: inline-block;
            text-transform: uppercase;
            background-color: #E056F5;
            padding: 4px 8px 4px 8px;
            color: #ffffff;
            border-radius: 4px;
        }

        .link-google{
            margin-top: 16px;
        }

    }

}
